{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Fake News Detector</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{% static 'fakenews/js/js.js' %}"></script>
    <link rel="stylesheet" href="{% static 'fakenews/index.css' %}">
    
   <style type="text/css">
 
   	body{
	
	font-family:'amiko';
font-size: 25px;
}


#results h2{
	font-size: 35px;
}
   </style>
   <link href='https://fonts.googleapis.com/css?family=Amiko' rel='stylesheet'>
</head>
<body>
     <div id="wholeupper"><h1>Fake News Detector</h1>
    <nav id="bar">
        <li id="page2"><a href="/">Home</a></li>
        
    
   

    </nav>
    </div>

<div id="results">
<h2>Result :</h2>
{{ result }}
<br>
<h2>Summary</h2>
<ul>
<li> Word Count : {{ wordcount }}</li>
<li> Title Count : {{ titlecount }}</li>
<li> Punctuation Count : {{ punccount }}</li>
<li> Gunning Fog : {{ gunningfog }}</li>
<li> Readability Index : {{ readability }}</li>

    <li>Title : {{ articletitle }} </li>
    <li>Text: {{ articletext }} </li>
</ul>
</div>
    
</body>
</html>
